
@{
    //ViewData["Title"] = "Party View";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>My title</title>
    <meta name="viewport" content="width=device=width"/>
</head>
<body>
    <div>
        <h1>
            @ViewBag.Hello from myview
        </h1>
        <p>
            my custom view haha
        </p>
        <a asp-action="ResponseForm">Guest</a>
    </div>
</body>
</html>

